.table {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  width: 750px;
  height: 300px;
  border: 1px solid #000000;
}

.tb {
  margin-left: 1%;
  overflow-y: auto;
  overflow-x: hidden;
}
.rowcontain {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
}
.colcontain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
}
