.KeyContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #ffffff;
  border: 1px solid #000000;
  margin-bottom: 1%;
  width: 60%;
}
.KeyRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.Title {
  font-weight: 800;
  border: 1px solid #000000;
  text-decoration: underline;
}
