.Dashbd {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #b2bfc2;
}
.Dashrowcontain {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80%;
  width: 100%;
}
.Dashcolcontain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
}
#PortCard {
  border: 2px solid #000000;
  box-sizing: border-box;
  height: 70%;
  margin-top: 5%;
}

#Title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  color: #000000;
}
