.Dashbd {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #b2bfc2;
}
.Dashrowcontain {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 80%;
  width: 100%;
  margin-top: 10px;
}
.Dashcolcontain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
}

.tb {
  margin-left: 1%;
}
#table {
  background-color: #ffffff;
}
