.Porthead {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  width: 100%;
}
#dropBtn {
  color: #003366;
  height: 50px;
  font-family: "Montserrat", sans-serif;
}

#DashBtn {
  font-family: "Montserrat", sans-serif;
  height: 50px;
}
